html{
    margin-left:5%;
    margin-right:5%;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns: minmax(50px, auto);
}

#grid1{
    background-color: gray;
    grid-column-start: 1;
    grid-column-end: 10;
}
#primary-nav{
    padding-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    font-size: large;
    padding-left: 5px;
    
}
#primary-nav a{
    display: inline-block;
    padding: 5px;
}
#primary-nav :hover{
    background-color: white;
    color: black;
}


/*Styling the footer*/
footer{
    background-color: gray;
    color:black;
    margin-top:50px;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.img-class{
        float: inline-start;
        width: 600px;
        height: 350px;
        margin-right:2%;
        padding-left: 2px; 
        padding-bottom: 5px; 
        padding-top: 10px;
}
.join-us{
    float: left;
    width: 15%;
    padding: 5px;
    height: 15%;
    margin-left: 5%;

}

.Covid-updates{
    float: left;
    width: 15%;
    padding: 5px;
    height: 15%;
    margin-left: 5%;
}
.img3{
    float: left;
    width: 15%;
    padding: 5px;
    height: 20%;
    margin-left: 5%;
}




/*Styling Grid*/
.main-id{
    grid-row:4/5;
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.link-check{
    grid-row:-2/-1;
    grid-column: 1/-1;

}